.sky {
  grid-area: 2 / 1 / 3 / 7;
  position: relative;
	height: 1%;
}

.future{
  grid-area: 5 / 2 / 6 / 3;
  position: relative;
  display: none;
}

.slider-bar {
  grid-area: 4 / 2 / 5 / 5;
  position: relative;
  opacity: 1;
}

/* Elements to animate */
.cloud{
	position: absolute;
	width: 120px;
	top: 5%;
	opacity: 0.5;
	animation: wind 10s linear infinite;
}

.car {
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.shadow {
  transform: translatey(0px);
  animation: overshadow 6s ease-in-out infinite;
}

/* KeyFrames */
@keyframes wind{
	from{
		left: -300px;
	}
	to{
		left: 100%;
	}
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes overshadow {
	0% {
		opacity: 0.3;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.3;
	}
}

.range {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  justify-items: center;
}

output {
  /*position: absolute;*/
  background-image: linear-gradient(#444444, #999999);
  width: 10%;
  height: 5%;
  text-align: center;
  color: white;
  border-radius: 10px;
  display: inline-block;
  font: bold 15px/30px Georgia;
  bottom: 175%;
  left: 0;
}

.button {
  background-color: #0077a4;
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30%;
  display: inline-block;
  padding: 15px 25px;
  font-size: 1.5em;
  outline: none;
  box-shadow: 0 9px #999;
}

.button:hover {
    background-image: linear-gradient(to bottom, #3ecbff, #0077a4);
    color: #FFF;
}

.button:active {
  background-color: #8ED7FB;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.inputDiv {
  width: 250px;
  margin: 100px auto;
  position: relative;
}

input[type='range'] {
  display: block;
  width: 25em;
}

input[type='range']:focus {
  outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 30%;
}

input[type=range]::-webkit-slider-thumb {
  width: 2.5em;
  height: 2.5em;
  border: 0;
  background: url('../images/slider_track/track_web-min.png');
  background-size: 2em;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: -1em;
}

input[type=range]::-moz-range-thumb {
/*
  background-color: #777;
  width: 15px;
  height: 15px;
  border: 3px solid #333;
  border-radius: 50%;
*/
  width: 2.5em;
  height: 2.5em;
  border: 0;
  background: url('../images/slider_track/track_web-min.png');
  background-size: 2em;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: -1em;
}

input[type=range]::-ms-thumb {
/*
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: 3px solid #333;
  border-radius: 50%;
*/
  width: 2.5em;
  height: 2.5em;
  border: 0;
  background: url('../images/slider_track/track_web-min.png');
  background-size: 2em;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: -1em;
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: transparent;
  height: 3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  outline: none;
}

input[type=range]::-moz-range-track {
  background-color: transparent;
  height: 3px;
}

input[type=range]::-ms-track {
  background-color: transparent;
  height: 3px;
}

input[type=range]::-ms-fill-lower {
  background-color: transparent;
}

input[type=range]::-ms-fill-upper {
  background-color: transparent;
}

.div-tag {
  width: 30px;
  height: 26px;
  position: absolute;
  z-index: 9;
  background-color: lightgray;
  color: white;
  font-size: 12px;
  text-align: center;
  padding-top: 7px;
  top: -45px;
  box-sizing: border-box;
}

.div-tag:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 8;
  background-color: lightgray;
  position: relative;
  left: 9px;
}
