main {
  background-image: url(../images/stage_1/bg_1.png);
  background-position: center center;
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-size: cover;  /* This is what makes the background image rescale based
     on the container's size */
  opacity: 1;
  background-size: 100%;
  height: 30em;
}

.sky {
  grid-area: 1 / 1 / 2 / 5;
  position: relative;
	height: 1%;
}

.slider-bar {
  grid-area: 2 / 1 / 3 / 5;
  position: relative;
  opacity: 1;
}

/* Elements to animate */
.cloud{
	position: absolute;
	width: 120px;
	top: 5%;
	opacity: 0.5;
	animation: wind 10s linear infinite;
}

/* KeyFrames */
@keyframes wind{
	from{
		left: -300px;
	}
	to{
		left: 100%;
	}
}

input[type=range]{
  width:80%;
  display:inline-block;
}

input[type='range']:focus {
  outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  background: url('../images/slider_track/track_web.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 10em;
  height: 10em;
  border: none;
  cursor: ew-resize;
}

input[type=range]::-moz-range-thumb {
  background: url('../images/slider_track/track_web.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 10em;
  height: 10em;
  border: none;
  cursor: ew-resize;
}

input[type=range]::-ms-thumb {
  background: url('../images/slider_track/track_web.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 10em;
  height: 10em;
  border: none;
  cursor: ew-resize;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 10px;
  background:linear-gradient(to right, green calc(var(--value)*1%), black 0);
}
input[type=range]::-moz-range-track {
  height: 10px;
  background:linear-gradient(to right, green calc(var(--value)*1%), black 0);
}

input[type=range]::-ms-track {
  background-color: #777;
  height: 3px;
}

input[type=range]::-ms-fill-lower {
  background-color: green;
}

input[type=range]::-ms-fill-upper {
  background-color: black;
}


.range-output{
  margin-top: 1em;
}

output {
  /*position: absolute;*/
  background-image: linear-gradient(#444444, #999999);
  width: 10%;
  height: 5%;
  text-align: center;
  color: white;
  border-radius: 10px;
  display: inline-block;
  font: bold 15px/30px Georgia;
  bottom: 175%;
  left: 0;
}

.button {
  background-color: #0077a4;
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30%;
  display: inline-block;
  padding: 15px 25px;
  font-size: 1.5em;
  outline: none;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3ecbff}

.button:active {
  background-color: #8ED7FB;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
