.button{
  top: -100px;
  display: flex;
  animation: drop 0.5s ease forwards;
}


h2 {
  text-align: center;
}

.stage-0{
  grid-area: 1 / 3 / 2 / 5;
  position: relative;
  transition: all 1s linear;
  display: block;
}

.stage-1{
  grid-area: 2 / 3 / 5 / 5;
  position: relative;
  transition: all 1s linear;
  display: block;
}

.stage-2{
  grid-area: 1 / 1 / 6 / 7;
  position: relative;
  transition: all 1s linear;
  display: block;

  background-image: url(../images/stage_1/bg_1-min.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-size: 100%;  /* This is what makes the background image rescale based
     on the container's size */
  opacity: 1;
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
  top: -9999em;
}

.visuallyhidden {
  opacity: 0;
}


/*// ANIMATION STYLES //*/

@keyframes drop{
  0%{
    opacity: 0;
  }
  70%{
    transform: translateY(30px);
  }
  100%{
    transform: translateY(20px);
    opacity: 1;
  }
}
